/******************** GENERAL ********************/

/*************** body ***************/

body {
    font-family: 'Lato', sans-serif;
    position: relative;
}

/*************** columns and rows ***************/

.row, .col {
    margin: 0;
    padding: 0;
}

/*************** headings ***************/

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h3 {
    line-height: 1;
    margin-bottom: 20px;
}

/*************** images ***************/

img {
    max-width: 100%;
    height: auto;
}

/*************** lists ***************/

ul, ol {
    list-style: none;
}

/*************** links ***************/

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #a01a58;
}

/*************** sections ***************/

section {
    padding: 45px 0 0;

}

section .heading {
    text-align: center;
    padding-bottom: 30px;
}

.red-divider {
    width: 100px;
    height: 2px;
    background: #a01a58;
    margin: 0 auto 20px;

}

.white-divider {
    width: 100px;
    height: 2px;
    background: #fff;
    margin: 0 auto 20px;
}


/******************** NAVIGATION MENU ********************/

.navbar {
    background-color: #a01a58;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-pills .nav-link {
    color: #fff !important;
    text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
    color: #a01a58 !important;
    background-color: #fff !important;
}

.navbar-toggler {
    color: #fff !important;
    border-style: none;
}


/******************** HOME ********************/

#home {
    padding-bottom: 40px;
    background: #a01a58;
}

.profile-picture {
    text-align: center;
    margin: 0 auto;
}

#home .heading {
    padding-bottom: 20px;
}

#home .heading h1 {
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
}

.uploadCv {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.uploadCv:hover {
    background: white;
    color: #a01a58;
    text-decoration: none;
}


/******************** EXPERIENCES ********************/

#experiences {
    background: #a01a58;
}

.experiences-container {
    padding: 0;
}

#experiences .heading h2 {
    color: #fff;
}

.timeline {
    padding: 30px 10px;
    position: relative;
}

.timeline:before {
    top: 10px;
    bottom: 50px;
    position: absolute;
    content: " ";
    width: 4px;
    background-color: #333;
    left: 50%;
    margin-left: -2px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline li .timeline-badge {
    color: #a01a58;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: #ddd;
    border-radius: 50%;
    margin: 20px auto -17px;
}

.fa-caret-up {
    font-size: 50px;
    margin-bottom: -20px;
    color: white;
}

.fa-caret-right, .fa-caret-left {
    display: none;
}


.timeline-panel-container, .timeline-panel-container-inverted {
    text-align: center;
}

.timeline-panel {
    height: 400px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 0 15px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background: #fff;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.timeline-panel:hover {
    cursor: pointer;
}

.timeline-panel-beach {
    height: 320px;
}

.panel-front, .panel-back {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px 10px 10px;
}

.panel-back {
    transform: rotateY(180deg);
    /*padding: 15px 10px;*/
}

.xp-name {
    width: 100%;
}

.writer {
    width: 250px;
}

.asem {
    width: 270px;
    margin-top: 10px;
}

.petrol {
    width: 280px;
}

.icon-flip-box {
    padding: 0;
    width: 100%;
    height: fit-content;
    text-align: end;
}

.icon-flip {
    width: 30px;
    opacity: 0.5;
    padding-right: 5px;
}

.icon-flip:hover {
    opacity: 1;
}

.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
}

.timeline-heading h4, .panel-front h4 {
    color: #a01a58;
    line-height: 1.5;
}

.rotated-front {
    transform: rotateY(180deg);
}

.rotated-back {
    transform: rotateY(360deg);
}

.fa-clock {
    margin-right: 5px;
    font-size: 15px;
}


/******************** EDUCATION ********************/

#education {
    background: #fff;
}

#education .heading h2 {
    color: #a01a58;
}

.education-block {
    margin: 0 0 20px;
    text-align: center;
    padding: 10px 0;
    background: #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);;
    height: max-content;
}

.education-university {
    margin-bottom: 0;
}

.education-block h5 {
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}

.education-block .fa-graduation-cap {
    font-size: 35px;
}

.education-block h3 {
    color: #a01a58;
}

.education-block h4 {
    margin-bottom: 20px;
}

.education-block .red-divider {
    margin-bottom: 20px;
}

.see-more {
    padding: 10px 0 25px;
}

.arrow-skills {
    width: 25px;
}

.arrow-skills, .arrow-skills-medium-screen {
    transition: all 0.3s ease-in-out;
    margin-right: 25px;
}

.arrow-skills:hover, .arrow-skills:focus {
   color: #a01a58;
}

.arrow-skills-medium-screen {
    display: none;
}

.education-block .fa-github {
    font-size: 25px;
    transition: all 0.3s ease-in-out;
    margin-left: 25px;
}

.project-details {
    padding: 0;
    margin: 0 auto;
    width: 85%;
    font-weight: bold;
}

.skills {
    display: none;
    border-radius: 100%;
    background-color: #a01a58;
    color: white;
    padding: 20px 0 10px;
    width: 55%;
    margin: 0 auto 20px;
    position: relative;
}

.skills-projectThree {
    width: 70%;
}

.skills-details {
    margin: 0 20px 20px;
}

.skills-icon {
    display: none;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 33%;
    left: 10%;
}

.details-university {
    padding-left: 0;
}


/******************** ABOUT ********************/

#about {
    line-height: 2;
}

#about .heading h2 {
    color: #a01a58;
}

.about-text {
    padding: 0 20px;
    margin: 0 auto;
}

.about-text-p {
    margin-bottom: 30px;
}

.top {
    margin: 20px 5px;
    padding: 20px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 7px rgba(0, 0, 0, 0.24);
}

.top h3 {
    color: #a01a58;
    text-align: center;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23a01a58' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    margin-left: 5px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23a01a58' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    margin-right: 5px;
}

.carousel-indicators {
    position: initial;
    padding: 0;
    margin: 20px auto 0;
    height: 30px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #a01a58;
}

.carousel-indicators li.active {
    background-color: #a01a58;
}

.carousel-item p {
    font-style: italic;
    margin: 0 auto;
    width: 80%;
    line-height: 1.7;
}


/******************** ABOUT ********************/

footer {
    background: #a01a58;
}

footer .fas {
    font-size: 25px;
    margin: 20px;
    color: white;
    opacity: 0.7;
    height: 30px;
    transition: all 0.3s ease-in-out;
}

footer .fas:hover {
    transform: scale(1.2);
}

footer h5 {
    color: #fff;
    font-weight: normal;
}


/******************** MEDIA QUERIES ********************/

/*************** Small Devices ***************/

@media screen and (min-width: 480px) {

    .project-details {
        font-size: 1.1em;
        width: 100%;
    }

    .details-university {
        margin-bottom: 10px;
    }

    .skills-projectThree {
        width: 55%;
    }

    .skills-icon {
        left: 12%;
    }

    .panel-front, .panel-back {
        padding: 20px;
    }

    .top {
        padding: 20px 10px 10px;
    }
}


/*************** Medium Devices ***************/

@media screen and (min-width: 768px) {

    #education {
        margin: 0 20px;
    }

    .education-block {
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    .project-line {
        margin-bottom: 20px;
    }

    .project-details-oc {
        padding-left: 70px;
    }

    .arrow-skills-medium-screen {
        display: block;
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

    .arrow-skills {
        display: none;
    }

    .see-more {
        padding: 0 30px 0 0;
    }

    .skills {
        width: 35%;
    }

    .skills-details {
        width: 30%;
    }

    .skills-icon {
        width: 40px;
        height: 40px;
    }

    .petrol {
        width: 300px;
        margin-top: 10px;
    }

    .top {
        padding: 20px 20px 10px;
    }

    .carousel-item p {
        width: 85%;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        margin-left: 10px;
        width: 25px;
        height: 25px;
    }

    .carousel-indicators li {
        width: 13px;
        height: 13px;
    }
}

/*************** Large Devices ***************/

@media screen and (min-width: 992px) {

    .nav-link {
        margin: 0 30px;
    }

    #education, .timeline {
        width: 80%;
        margin: 0 auto;
    }

    .education-block {
        margin-bottom: 60px;
    }

    .skills {
        width: 30%;
    }

    .skills-projectThree {
        width: 35%;
    }

    .skills-details {
        width: 25%;
    }

    .arrow-skills-medium-screen:hover, .arrow-skills-medium-screen:focus {
        color: #a01a58;
    }

    .timeline-panel {
        width: 90%;
        margin: 0 auto;
    }

    #about {
        width: 90%;
        margin: 0 auto;
    }

    .about-text {
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {

    .timeline-body {
        font-size: 1.1em;
    }

    .about-text {
        font-size: 1.1em;
    }

    .carousel-item p {
        font-size: 1.1em;
    }
}


/*************** Extra Large Devices ***************/

@media screen and (min-width: 1200px) {

    .nav-item {
        font-size: 1.2em;
    }

    #education, .timeline {
        width: 100%;
    }

    .project-details-oc {
        padding-left: 30px;
    }

    .see-more {
        padding-right: 40px;
    }

    .skills {
        width: 40%;
    }

    .skills-projectThree {
        width: 50%;
    }

    .timeline li .timeline-badge {
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -25px;
        margin-top: 0;
    }

    .timeline-panel-container {
        width: 50%;
        float: left;
    }

    .timeline-panel-container-inverted {
        width: 50%;
        float: right;
    }

    .timeline-panel {
        width: 90%;
        float: right;
        margin-right: 40px;

    }

    .timeline-panel-container-inverted .timeline-panel {
        float: left;
        margin-left: 40px;
    }

    .fa-caret-up {
        display: none;
    }

    .fa-caret-right {
        display: block;
        font-size: 50px;
        position: absolute;
        left: 50%;
        top: 17px;
        margin-left: -43px;
        color: white;
    }

    .fa-caret-left {
        display: block;
        font-size: 50px;
        position: absolute;
        left: 50%;
        top: 17px;
        margin-left: 24px;
        color: white;
    }


    .carousel-item p {
        margin: 0 auto;
        line-height: 2;
    }

    .carousel-control-prev-icon {
        margin-left: 15px;
    }

    .carousel-control-next-icon {
        margin-right: 15px;
    }
}


/*************** Extra Extra Large Devices ***************/
@media screen and (min-width: 1400px) {

    .nav-link {
        margin: 0 50px;
        font-size: 1.4em;
    }

    #education {
        width: 95%;
    }

    #about {
        width: 80%;
    }

    .carousel-control-prev-icon {
        margin-left: 20px;
    }

    .carousel-control-next-icon {
        margin-right: 20px;
    }
}

/*************** Extra Extra Large Devices ***************/
@media screen and (min-width: 1920px) {

    #education {
        width: 80%;
    }

    #about {
        width: 80%;
    }
}
